<div>
  <h1 class='title-shopping'>Shopping List</h1>
<table>
  <tr>
    <th>Food</th>
    <th>Quantity</th>
    <th>Price</th>
  </tr>
  <div class='container-amount-total'>
    <h2 class='amount-shopping'>Amount of items to buy: <%= @recipefoods.present? ? @recipefoods.length : 0 %></h2>
    <h2>Total value of food needed: <%= @recipefoods.present? ? @recipefoods.sum { |recipefood| (recipefood.quantity - recipefood.food.quantity) * recipefood.food.price } : 0 %></h2>
  </div>
  <% if @recipefoods.present? %>
    <% @recipefoods.each do |foods| %>
      <tr class='table'>
        <td><%= foods.food.name %></td>
        <td><%= foods.quantity - foods.food.quantity %></td>
        <td><%= foods.food.price * (foods.quantity - foods.food.quantity) %></td>
      </tr>
    <% end %>
  <% end %>
</table>

</div>