<div id="recipes">
<%= link_to "New recipe", new_recipe_path %>
  <% @recipes.each do |recipe| %>
    <div id=recipe>
      <div class='container-name'>
        <p class='name-recipe'>Name :<%= recipe.name %></p>
        <%= button_to "Remove Recipe", recipe, method: :delete %>
      </div>

      <div class='container-descrip'>
        <strong>Description:</strong>
        <%= recipe.description %>
      </div>
      <div class='recipe-details'>
        <%= link_to "Recipe details", recipe %>
      </div>
    </div>
  <% end %>
</div>
